In [11]:
import pandas as pd
import psycopg2
import sqlalchemy
import matplotlib as plt

%matplotlib inline

In [14]:
!pip install ipython-sql
!pip install sqlalchemy
!pip install psycopg2

Collecting ipython-sql
  Downloading https://files.pythonhosted.org/packages/ab/3d/0d38357c620df31cebb056ca1804027112e5c008f4c2c0e16d879996ad9f/ipython_sql-0.4.0-py3-none-any.whl
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/dereklee/anaconda3/lib/python3.6/site-packages (from ipython-sql) (1.3.3)
Collecting prettytable<1 (from ipython-sql)
  Downloading https://files.pythonhosted.org/packages/ef/30/4b0746848746ed5941f052479e7c23d2b56d174b82f4fd34a25e389831f5/prettytable-0.7.2.tar.bz2
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/dereklee/anaconda3/lib/python3.6/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /Users/dereklee/anaconda3/lib/python3.6/site-packages (from ipython-sql) (7.5.0)
Requirement already satisfied: six in /Users/dereklee/anaconda3/lib/python3.6/site-packages (from ipython-sql) (1.15.0)
Collecting sqlparse (from ipython-sql)
  Downloading https://files.pythonhosted.org/packages/85/ee/6e821932f413a5c4b76be9c5936e313e4fc626b33f16e027866e1d60f588/sqlparse-0.3.1-py2.py3-none-any.whl (40kB)
     |████████████████████████████████| 40kB 5.7MB/s  eta 0:00:01
Requirement already satisfied: decorator in /Users/dereklee/anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.4.0)
Requirement already satisfied: pygments in /Users/dereklee/anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (2.4.0)
Requirement already satisfied: traitlets>=4.2 in /Users/dereklee/anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/dereklee/anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.7.0)
Requirement already satisfied: backcall in /Users/dereklee/anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /Users/dereklee/anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (2.0.9)
Requirement already satisfied: setuptools>=18.5 in /Users/dereklee/anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (41.0.1)
Requirement already satisfied: pickleshare in /Users/dereklee/anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.10 in /Users/dereklee/anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.13.3)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/dereklee/anaconda3/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/dereklee/anaconda3/lib/python3.6/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: wcwidth in /Users/dereklee/anaconda3/lib/python3.6/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: parso>=0.3.0 in /Users/dereklee/anaconda3/lib/python3.6/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.4.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Stored in directory: /Users/dereklee/Library/Caches/pip/wheels/80/34/1c/3967380d9676d162cb59513bd9dc862d0584e045a162095606
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.3.1

In [15]:
%load_ext sql
from sqlalchemy import create_engine

In [26]:
# Format
# %sql dialect+driver://username:password@host:port/database
# Example format
%sql postgresql://postgres:postgres@localhost:5432/mimic

In [27]:
# Format
# engine = create_engine('dialect+driver://username:password@host:port/database')
# Example format
engine = create_engine('postgresql://postgres:postgres@localhost:5432/mimic')

In [41]:
import json
json_file = open("secrets.json")
variables = json.load(json_file)
json_file.close()

import os
os.environ['POSTGRES_USERNAME'] = variables['POSTGRES_USERNAME']
os.environ['POSTGRES_PASSWORD'] = variables['POSTGRES_PASSWORD']
os.environ['POSTGRES_ADDRESS'] = variables['POSTGRES_ADDRESS']
os.environ['POSTGRES_PORT'] = variables['POSTGRES_PORT']
os.environ['POSTGRES_DBNAME'] = variables['POSTGRES_DBNAME']

In [50]:
# A long string that contains the necessary Postgres login information 
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
                .format(username=os.getenv('POSTGRES_USERNAME'),
                        password=os.getenv('POSTGRES_PASSWORD'),
                        ipaddress=os.getenv('POSTGRES_ADDRESS'),
                        port=os.getenv('POSTGRES_PORT'),
                        dbname=os.getenv('POSTGRES_DBNAME'))) 
# Create the connection 
engine = create_engine(postgres_str)

In [51]:
# FORMAT FOR QUERIES SINCE THE SCHEMA ISN'T PUBLIC:
# SELECT *
# FROM <schema>."my_table"

In [52]:
%%sql

SELECT *
FROM mimiciii."patients"
WHERE gender = 'F'
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/mimic
5 rows affected.

[(234, 249, 'F', datetime.datetime(2075, 3, 13, 0, 0), None, None, None, 0),
 (235, 250, 'F', datetime.datetime(2164, 12, 27, 0, 0), datetime.datetime(2188, 11, 22, 0, 0), datetime.datetime(2188, 11, 22, 0, 0), None, 1),
 (238, 253, 'F', datetime.datetime(2089, 11, 26, 0, 0), None, None, None, 0),
 (241, 257, 'F', datetime.datetime(2031, 4, 3, 0, 0), datetime.datetime(2121, 7, 8, 0, 0), datetime.datetime(2121, 7, 8, 0, 0), datetime.datetime(2121, 7, 8, 0, 0), 1),
 (242, 258, 'F', datetime.datetime(2124, 9, 19, 0, 0), None, None, None, 0)]

In [53]:
df = pd.read_sql('''SELECT *
FROM mimiciii."patients"
WHERE gender = 'F'
LIMIT 5;''', engine)

In [54]:
df

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
0,234,249,F,2075-03-13,NaT,NaT,NaT,0
1,235,250,F,2164-12-27,2188-11-22,2188-11-22,NaT,1
2,238,253,F,2089-11-26,NaT,NaT,NaT,0
3,241,257,F,2031-04-03,2121-07-08,2121-07-08,2121-07-08,1
4,242,258,F,2124-09-19,NaT,NaT,NaT,0